<breadcrumb></breadcrumb>

<div class="sportbets-mainarea">

	<p>&nbsp;</p>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>About Sportbets</h2>
		</div>

		<div class="panel-body">Sportbets is a Soccer Bet Project done by the open source community using the Meteor framework.</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Contribution</h2>
		</div>

		<div class="panel-body">
			If you want to contribute :
			<ul>
				<li>Source Code : <a href="https://github.com/maxfriedmann/meteor-sportbets">https://github.com/maxfriedmann/meteor-sportbets</a></li>
				<li>Localization : <a href="/developer/localization">/developer/localization</a></li>
				<li>Flags Mapping : <a href="/developer/flags">/developer/flags</a></li>
				<li>Roadmap : <a href="https://trello.com/b/IrVyGFrp/meteor-sportbets">https://trello.com/b/IrVyGFrp/meteor-sportbets</a></li>
				<li>Bug Tracker : <a href="https://github.com/maxfriedmann/meteor-sportbets/issues">https://github.com/maxfriedmann/meteor-sportbets/issues</a></li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>FAQ</h2>
		</div>
		<div class="panel-body">
			<ul>
				<li><b>How can I log in ?</b> <br />You can log in with Username/Password, Github, Facebook, Google+ or Twitter by clicking on the login/signup button at the top right. If you signin with Username/Password you'll get a verification mail from us afterwards where you, you're guessing right, have to verify your email address</li>
				<li><b>I already have an account with bets, can I merge other accounts?</b><br />Of course you can. Please login with your original account and then click on 'Merge Accounts' at the top right!</li>
				<li><b>I don't see the login button / I don't see any competitions</b><br />
					<ul>
						<li>On a desktop machine, please ensure that you have the latest version of your browser. We're using a brand new technology here that replicates our database into your browser. It's all fine on latest versions of Chrome, Safari, Firefox, Opera and Internet Explorer</li>
						<li>On mobile devices, please make sure that your browser is up to date and that you have enough space to store data. Its not much (around a megabyte or two) but some old fashioned (Android) browsers limit the cache to 100KB. It's very useful for example to check the "Save Cache to SD Card" Option (e.g. on Dolphin Browsers on Samsung Galaxy S2 devices).</li>
					</ul></li>
			</ul>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Disclaimer</h2>
		</div>

		<div class="panel-body">
			Meteor Sportbets is intended to be a fun game. It is based on a technology that is still in beta phase. There are no prices officially, this is not a sport bets portal where you can win/lose money. But you can create a bet group though and, after the season/tournament meet in the Beergarden where the first one doesn't have to pay! <br /> <br /> <u>So keep in mind, you're placing bets on your own risk!</u>

			<h3>OpenLigaDB</h3>
			As datasource we're mainly using <a href="http://www.openligadb.de">http://www.openligadb.de</a>. It is nice if it works and useless if there are minor errors. We have a fallback that allows us to change match results at any time. Please also keep in mind that points on bets are processed and not permanently stored anywhere, meaning, if a result will be wrong, we can change it and the points will adjust themselves.
		</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Licenses</h2>
		</div>
		<div class="panel-body">
			To avoid conflicts with any kind of licenses or trademarks we're only using free licenses!
			<p>&nbsp;</p>
			<div class="row">
				<div class="col-md-2">
					<h3>Material</h3>
				</div>
				<div class="col-md-2">
					<h3>License</h3>
				</div>
				<div class="col-md-8">
					<h3>Link</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">National Team Flags</div>
				<div class="col-md-2">Linkware</div>
				<div class="col-md-8">
					<a href="http://www.iconarchive.com/show/flags-icons-by-icondrawer.html">http://www.iconarchive.com/show/flags-icons-by-icondrawer.html</a><br /> <a href="http://www.icondrawer.com">http://www.icondrawer.com</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Bootstrap & Bootstrap Icons</div>
				<div class="col-md-2">MIT</div>
				<div class="col-md-8">
					<a href="http://getbootstrap.com">http://getbootstrap.com</a>, check out <a href="http://glyphicons.com">http://glyphicons.com</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Semantic UI + Semantic UI Icons</div>
				<div class="col-md-2">MIT</div>
				<div class="col-md-8">
					<a href="http://semantic-ui.com">http://semantic-ui.com</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Avatars</div>
				<div class="col-md-2">Linkware</div>
				<div class="col-md-8">
					<a href="http://www.iconarchive.com/show/buddy-icons-by-iconka/officer-man-icon.html">http://www.iconarchive.com/show/buddy-icons-by-iconka/officer-man-icon.html</a><br /> <a href="http://www.iconka.com">http://www.iconka.com</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Face Avatars</div>
				<div class="col-md-2">CC Attribution-Noncommercial-No Derivate 3.0</div>
				<div class="col-md-8">
					<a href="http://www.iconarchive.com/show/face-avatars-icons-by-hopstarter.html">http://www.iconarchive.com/show/face-avatars-icons-by-hopstarter.html</a><br /> <a href="http://hopstarter.deviantart.com">http://hopstarter.deviantart.com</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">Various Javascript Libraries</div>
				<div class="col-md-2">MIT</div>
				<div class="col-md-8">All headers are present in all used Javascript libraries. They are getting updated automatically when an author changes the license.</div>
			</div>
		</div>
	</div>

</div>