<breadcrumb></breadcrumb>

<div class="sportbets-mainarea">

	<div class="row">
		<div class="col-xs-12 col-md-6 pull-right" align="right">

			<div class="ui small labeled blue icon button" ng-click="openPath('/competitions/' + competition.name + '/ranking')">
				<i class="trophy icon"></i> {{i18n("competition.showranking")}}
			</div>
			<div class="ui small labeled blue icon button" ng-click="openPath('/competitions/' + competition.name + '/specialbets')">
				<i class="empty star icon"></i> {{i18n("competition.specialbets")}}
			</div>
			<div class="ui small labeled green icon button" ng-click="updateCompetition(competition)" ng-if="showUpdateButton">
				<i class="refresh icon"></i> {{i18n("competition.updatecompetition")}}
			</div>
			<div class="ui small labeled green icon button" ng-click="updatePoints(competition)" ng-if="showUpdateButton">
				<i class="refresh icon"></i> Update Points
			</div>
			<div class="ui small labeled green icon button" ng-click="startCompetition()" ng-if="showEditButton && !competition.started && competition.type != 'openligadb'">
				<i class="play icon"></i> Start Competition
			</div>
			<div class="ui small labeled red icon button" ng-click="restartCompetition()" ng-if="showEditButton && competition.started && competition.type != 'openligadb'">
				<i class="retweet icon"></i> Restart Competition
			</div>
			<div class="ui small labeled orange icon button" ng-click="openPath('/competitions/' + competition.name + '/edit')" ng-if="showEditButton">
				<i class="edit icon"></i> Edit Competition
			</div>


			<div ng-if="competition.groups.length > 1" align="right" style="padding:5px">
				<form class="form-horizontal" role="form">
					<div class="form-group helptext-bottom" title="Filter all matches by groups/days/weekends/rounds" align="right">
						<label class="col-sm-3 control-label" for="competitionGroupSelector">{{i18n("competition.filter")}}</label>
						<div class="col-sm-7">
							<select id="competitionGroupSelector" class="form-control" ng-model="selectedGroup" ng-options='openligadbI18n(group.group_name) for group in groups' ng-change="updateSelectedGroup(selectedGroup)"></select>
						</div>
					</div>
				</form>
			</div>
		</div>



		<div class="col-md-6 pull-left">
			<h2 ng-if="competition.openligadb">
				{{openligadbI18n(competition.name)}} <span ng-if="selectedGroup">{{openligadbI18n(selectedGroup.group_name)}}</span>
			</h2>
			<h2 ng-if="!competition.openligadb">
				{{competition.displayName}} <span ng-if="selectedGroup">{{openligadbI18n(selectedGroup.group_name)}}</span>
			</h2>
		</div>
	</div>

	<div class="row no-select" ng-if="competition" style="padding-top:20px">

		<div infinite-scroll="loadMore()" infinite-scroll-immediate-check="true">
			<div ng-repeat="match in matches track by $index" ng-init="displayGroupNameState = displayGroupName(match.group_id)">
				<div ng-if="displayGroupNameState || $first" class="col-md-12 col-lg-2">
					<span style="font-size: 120%"><b>{{openligadbI18n(match.group_name)}}</b></span>
				</div>
				<div ng-if="!displayGroupNameState" class="col-lg-2"></div>

				<div class="col-md-12 col-lg-10 col-xs-12 nopadding">

					<div class="progress-indicator" id="bet-area-{{match._id}}"></div>

					<!-- DESKTOP VIEW -->
					<div class="col-md-12 hidden-xs matchdataRow">
						<div class="col-md-3 helptext-top" title="The time the match will start">{{match.match_date_time_utc | date : "EEEE, MMMM d, y, HH:mm"}}</div>
						<div class="col-md-6 helptext-top" title="Teams and the Result">
							<div class="col-md-1">
								<img src="{{match.getHomeFlag()}}" height="28px" />
							</div>
							<div class="col-md-3 team-name-label pointer" ng-click="openPath('/statistics/teams/' + match.id_team1 + '-' + match.name_team1)">{{match.getTeams()[0].getName()}}</div>

							<!-- Results -->
							<div class="col-md-3 match-result-label" align="center">
								<div ng-click="enterManualResult(match._id)" ng-class="{'pointer' : competitionOwner}" ng-if="manualResultActivated != match._id">
									<div ng-if="match.isFinished()">{{match.points_team1}} : {{match.points_team2}}</div>
									<div ng-if="!match.isFinished()">- : -</div>
								</div>

								<div ng-if="manualResultActivated == match._id">
									<input type="text" ng-model="manualResults[match._id].home" size="2"> :
									<input type="text" ng-model="manualResults[match._id].away" size="2">
									<button ng-click="updateMatchManually(match._id)">OK</button>
								</div>
							</div>



							<div class="col-md-3 team-name-label pointer" align="right" ng-click="openPath('/statistics/teams/' + match.id_team2 + '-' + match.name_team2)">{{openligadbI18n(match.name_team2)}}</div>
							<div class="col-md-1 " align="right">
								<img src="{{match.getAwayFlag()}}" width="28px" />
							</div>
						</div>

						<div class="col-md-3 helptext-top nopadding" align="center" title="Your Bet, your Trophy and Sharing Options">
							<div class="col-md-1" align="center">
								<i class="arrow up icon place-bet-button" style="cursor: pointer" ng-click="placeDeltaBet(match,1,0)" ng-if="match.isBetable() && !bets[match._id].locked"></i> <i class="arrow down icon place-bet-button" style="cursor: pointer" ng-click="placeDeltaBet(match,-1,0)" ng-if="match.isBetable() && !bets[match._id].locked"></i>
							</div>

							<div class="col-md-1" align="center">
								<div class="sportbets-betview-goals sportbets-betview-goals-{{bets[match._id].homegoals}}"></div>
							</div>

							<div class="col-md-1" align="center">
								<div class="sportbets-betview-goals sportbets-betview-goals-{{bets[match._id].awaygoals}}"></div>
							</div>

							<div class="col-md-1" align="center">
								<i class="arrow up icon place-bet-button" style="cursor: pointer" ng-click="placeDeltaBet(match,0,1)" ng-if="match.isBetable() && !bets[match._id].locked"></i> <i class="arrow down icon place-bet-button" style="cursor: pointer" ng-click="placeDeltaBet(match,0,-1)" ng-if="match.isBetable() && !bets[match._id].locked"></i>
							</div>

							<div class="col-md-3">
								<img ng-if="bets[match._id].points > 0" src="/images/trophys/{{bets[match._id].points}}_{{match.multiplier}}.png" height="40px" title="{{bets[match._id].points}} Point(s)" /> <img ng-if="bets[match._id].points == undefined || bets[match._id].points == 0" src="/images/trophys/placeholder.png" height="40px" />
							</div>
							<div class="col-md-4" align="center">
								<i class="link facebook icon" ng-click="postOnFacebook(competition,match,bets[match._id])" title="Share your bet on Facebook"></i> <i class="lock icon" ng-if="bets[match._id].locked || match.isFinished()" title="Bet is locked"></i> <i class="unlock icon" ng-if="!bets[match._id].locked && !match.isFinished()" title="Bet is unlocked"></i>
							</div>
						</div>
					</div>
				</div>



				<!-- MOBILE VIEW -->
				<div class="match-row-mobile visible-xs">
					<div class="col-xs-12 match-time-mobile" align="right">{{match.match_date_time_utc | date : "EEEE, MMMM d, y, HH:mm"}}</div>
					<div class="col-xs-12">
						<div class="col-xs-5 pointer" ng-click="openPath('/statistics/teams/' + match.id_team1 + '-' + match.name_team1)">
							<img src="{{match.getHomeFlag()}}" height="28px" /> {{openligadbI18n(match.name_team1)}}
						</div>
						<div class="col-xs-2">
							<span ng-if="match.isFinished()">{{match.points_team1}} : {{match.points_team2}}</span> <span ng-if="!match.isFinished()">- : -</span>
						</div>
						<div class="col-xs-5 pointer" align="right" ng-click="openPath('/statistics/teams/' + match.id_team2 + '-' + match.name_team2)">
							{{openligadbI18n(match.name_team2)}} <img src="{{match.getAwayFlag()}}" width="28px" />
						</div>
					</div>
					<div class="col-xs-12 nopadding" style="padding-top: 10px">
						<div class="col-xs-6 nopadding" align="center">
							<div class="btn-group">
								<button type="button" class="btn btn-danger btn-lg bet-buttons-mobile" ng-click="placeDeltaBet(match,-1,0)" ng-if="match.isBetable() && !bets[match._id].locked">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
								<button type="button" class="btn btn-default btn-lg bet-mobile" disabled="true">
									<span ng-if="bets[match._id].homegoals != null">{{bets[match._id].homegoals}}</span><span ng-if="bets[match._id].homegoals == null">-</span>
								</button>
								<button type="button" class="btn btn-success btn-lg bet-buttons-mobile" ng-click="placeDeltaBet(match,1,0)" ng-if="match.isBetable() && !bets[match._id].locked">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
						<div class="col-xs-6 nopadding" align="center">
							<div class="btn-group">
								<button type="button" class="btn btn-danger btn-lg bet-buttons-mobile" ng-click="placeDeltaBet(match,0,-1)" ng-if="match.isBetable() && !bets[match._id].locked">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
								<button type="button" class="btn btn-default btn-lg bet-mobile" disabled="true">
									<span ng-if="bets[match._id].homegoals != null">{{bets[match._id].awaygoals}}</span><span ng-if="bets[match.match_id].awaygoals == null">-</span>
								</button>
								<button type="button" class="btn btn-success btn-lg bet-buttons-mobile" ng-click="placeDeltaBet(match,0,1)" ng-if="match.isBetable() && !bets[match.match_id].locked">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12" ng-if="!$last">
				<div class="ui horizontal icon divider">
					<i class="circular trophy icon"></i>
				</div>
			</div>

		</div>
	</div>


	<div>
		<h2>Tabelle</h2>
		<table class="ui striped table">
			<thead>
				<tr>
					<th>Position</th>
					<th>Team</th>
					<th class="center aligned">Spiele</th>
					<th class="center aligned">Gewonnen</th>
					<th class="center aligned">Unentschieden</th>
					<th class="center aligned">Verloren</th>
					<th class="center aligned">Tore</th>
					<th class="center aligned">Torverhältnis</th>
					<th class="center aligned">Punkte</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key,team) in teamTableEntries">
					<th>{{team.position}}</th>
					<td>{{team.name}}</td>
					<th class="center aligned">{{team.games}}</th>
					<th class="center aligned">{{team.won}}</th>
					<th class="center aligned">{{team.drawn}}</th>
					<th class="center aligned">{{team.lost}}</th>
					<th class="center aligned">{{team.goalDifference[0]}} : {{team.goalDifference[1]}}</th>
					<th class="center aligned">{{team.goalDifference[0] - team.goalDifference[1]}}</th>
					<th class="center aligned">{{team.points}}</th>
				</tr>
			</tbody>
		</table>

	</div>


</div>



<div align="center" ng-if="matches != undefined && matches.length == 0">No matches to display!</div>

<div align="center" ng-if="loadingStatus != undefined">
	<img src="/images/ajax-loader.gif" /> {{loadingStatus}}
</div>

</div>