<breadcrumb></breadcrumb>


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Der neuste KICKprophet Tipp von Maximilian_Friedmann" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://kickprophet.com/share.php?c=MF81NzQzXzE4NzVfMTQwMTkxNjY3MzA1Nw==" />
<meta property="og:description" content="Maximilian_Friedmann hat gerade das Spiel ESP-NED bei kickprophet.com getippt. Hier kannst du dir alle Details ansehen und selbst tippen!" />

<meta property="og:image" content="http://kickprophet.com/php/Tipimage.php?info=MTMuMDYuMjAxNCwgMjE6MDB8TWF4aW1pbGlhbl9GcmllZG1hbm58YXNzZXRzL2ltZy9mbGFncy9sYWVuZGVyL3NwYW5pZW4ucG5nfGFzc2V0cy9pbWcvZmxhZ3MvbGFlbmRlci9uaWVkZXJsYW5kZS5wbmd8MHwy" />

</head>


<div class="sportbets-mainarea"></div>