<div class="panel panel-default">
	<div class="panel-heading">You're sooo anonymous!</div>

	<div class="panel-body">
		<div class="col-xs-3">
			<i class="huge red sign in icon"></i>
		</div>
		<div class="col-xs-8">For placing bets you might have to tell us who you are! Otherwise, who should get the points? <p />{{loginButtons}}</div>
	</div>

	<div class="panel-footer" align="right">
		<input type="button" class="btn btn-success" value="Got it mate, sorry! It will not happen again!" ng-click="$close(true)" />
	</div>

</div>