<div class="panel panel-default">
	<div class="panel-heading">Place your Bet</div>

	<div class="panel-body">
		<div class="col-xs-3">
			<i class="huge green trophy icon"></i>
		</div>
		<div class="col-xs-8">
			<div class="col-xs-12">
				<div class="col-md-2 col-xs-2">
					<img src="{{matchdata.icon_url_team1}}" />
				</div>
				<div class="col-md-4 col-xs-4">{{matchdata.name_team1}}</div>
				<div class="col-md-4 col-xs-4" align="right">{{matchdata.name_team2}}</div>
				<div class="col-md-2 col-xs-2" align="right">
					<img src="{{matchdata.icon_url_team2}}" />
				</div>
			</div>
			<p>&nbsp;</p>
			<div class="col-xs-12">
				<div class="col-xs-6" align="center">
					<img src="/images/numbers/betup.jpg" style="cursor: pointer"
						ng-click="changeBet(1,0)" />
					<div
						class="sportbets-betview-goals sportbets-betview-goals-{{bet.homegoals}}" />
					<img src="/images/numbers/betdown.jpg" style="cursor: pointer"
						ng-click="changeBet(-1,0)" />
				</div>
				<div class="col-xs-6" align="center">
					<img src="/images/numbers/betup.jpg" style="cursor: pointer"
						ng-click="changeBet(0,1)" />
					<div
						class="sportbets-betview-goals sportbets-betview-goals-{{bet.awaygoals}}" />
					<img src="/images/numbers/betdown.jpg" style="cursor: pointer"
						ng-click="changeBet(0,-1)" />
				</div>
			</div>
			{{error}}
		</div>
	</div>
	<div class="panel-footer" align="right">
		<button class="btn btn-success" ng-click="placeBet()">Save Bet</button>
	</div>
</div>